@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar settings */

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  @apply rounded-xl;
}

/* Handle on hover */

/* ::-webkit-scrollbar-thumb:hover {
    @apply
} */

/* text */

p {
  @apply text-base font-normal;
}

h2 {
  @apply text-3xl font-extrabold;
}

/* table */

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.125rem;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #ddedde;
  color: #000000;
  text-align: left;
  font-weight: bold;
  font-size: 2rem;
}

.content-table th {
  padding: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.content-table td {
  padding: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* button */

.button {
  @apply flex w-fit items-center justify-center gap-2 px-4 py-2 text-lg font-semibold text-white;
  background-color: #e17358;
  border-radius: 12px;
  width: 125px;
  float: right;
}

.button:disabled {
  @apply bg-gray;
}

.button svg {
  @apply h-4 w-4;
}

.icon-button {
  @apply text-black bg-transparent stroke-2;
}

.icon-button > svg {
  @apply text-black bg-transparent stroke-black h-7 w-7;
}

/* inputs */

label {
  @apply font-semibold text-sm;
}

.input {
  @apply w-full px-4 py-3 border-2 rounded-lg outline-none border-gray text-base font-semibold;
}

.input:focus {
  border-color:#28666E;
}

.text-details {
  @apply text-[20px] font-semibold;
  font-color:#28666E;
}

/* modal */

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  @apply flex justify-center items-center bg-gray-background !important;
}

.modal {
  @apply w-[465px] px-16 py-10 bg-white rounded-md;
}

.modal form {
  @apply flex flex-col gap-5;
}

.modal .line {
  @apply h-[1px] bg-black my-7 opacity-10 rounded-md;
}

.modal > form > button {
  @apply mt-5 w-full;
  background-color: #e17358;
}

/* donate modal */

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  @apply flex justify-center items-center bg-gray-background !important;
}

.donate-modal {
  @apply w-[1000px] px-16 py-10 bg-white rounded-md;
}

.donate-modal form {
  @apply flex flex-col gap-5;
}

.donate-modal .line {
  @apply h-[1px] bg-black my-7 opacity-10 rounded-md;
}

.donate-modal > form > button {
  @apply mt-5 w-full;
  background-color: #e17358;
}

.row-center {
  @apply flex flex-row items-center justify-center gap-3;
}

.delete-button {
  @apply bg-red;
}

/* special info section */

.section-container {
  @apply bg-white font-semibold text-lg flex flex-col gap-5 w-auto m-[1px];
}

.section-title {
  font-weight: 600;
  font-size: x-large;
}

.section-container .fields {
  border-radius: 0.375rem;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  display: grid;
  column-gap: 40px;
  row-gap: 20px;
  grid-template-columns: max-content max-content;
  width: max-content;
  background-color: #28666E;
}

.field-key {
  color: #ffffff;
}

.field-value {
  color: #ffffffbb;
}

