/* layout */

  .user-layout {
    @apply flex w-screen h-screen flex-col px-28;
  }
  
  .user-content {
    display: flex;
    flex-direction: row;
    /* @apply flex flex-row gap-7 py-7; */
  }
  
  .user-menu {
    @apply flex flex-row justify-between items-center w-full py-8;
  }

  .profile-content {
    display: flex; 
    flex-direction: row; 
    gap: 10rem; 
  }

  .profile-title {
    display: flex;
    flex-direction: row;
    gap: 35rem;
  }

  .profile {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .profile-name {
    font-size: 25px;
    font-weight: bold;
    margin-right: 600px;
  }

  .profile-message {
    color:#e17358;
  }
  
  .edit-button {
    display: flex-end;
  }
  /* tabs */
  .book-tabs {
    @apply flex gap-5;
  }
  
  .book-tabs > div {
    @apply py-2 px-3 rounded-3xl cursor-pointer  bg-transparent text-black opacity-50 font-semibold text-sm;
  }
  
  .book-tabs > div.active {
    @apply opacity-100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }
  
  .profile-link {
    @apply font-bold text-lg;
  }
  
  .signout {
    @apply decoration-transparent text-black opacity-50;
  }
  
  /* books layout */
  .causes {
    @apply flex flex-wrap gap-4 m-[1px];
    justify-content: center;
  }
  
  /* book card */
  
  .cause-card {
    @apply p-6 rounded-3xl flex flex-col gap-3 min-w-[300px];
    width: 1100px;
    margin-bottom: 50px;
    background-color: #DDEDDE;
    box-shadow: 5px 10px 5px #999999;
  }

  .cause-progress {
    width: 100%;
    flex-direction: column;
  
  }

  .progress-bar {
    width: 60%;
  }
  
  .target {
    float: right;
    margin-top: 10px;
    font-weight: bold;
  }

  .cause-details {
    flex-direction: row;
  }

  .cause-details-title {
    @apply text-[28px] font-semibold text-white;
  }

  .cause-details-zone {
    @apply text-[20px] font-semibold;
  }
  
  .cause-content {
    flex-direction: end;
  }

  .cause-title {
    @apply text-[40px] font-semibold;
    text-align: center;
  }

  .cause-zone {
    @apply text-[20px] font-semibold;
    text-align: center;
    margin-bottom: 40px;
  }

  .cause-summary {
    text-align: justify;
  }

  .cause-image {
      width: 50%;
      height: 50%;
      margin-left: 30px;
      box-shadow: 5px 10px 5px #999999;
      margin-top: 40px
  }

  .donate-btn {
      margin-top: 50px;
      width: 100%;
      align-content: center;    
  }

  .donate-btn > Button {
    width: 300px;
    height: 50px
  }
  
  .personal-data {
    width: 120%;
    margin-right: 30px;
  }

  .personal-data input {
     margin-bottom: 10px;
  }

  .row-inputs {
    width: 120%;
    margin-right: 30px;
  }

  .row-inputs input {
     margin-bottom: 10px;
  }
  .text-details {
    margin-bottom:20px;
  }
  .payment input {
    margin-bottom: 10px;
  }

  .modal-fields {
    @apply flex flex-row;
  }

  .user-modal {
    @apply w-[1000px] px-16 py-10 bg-white rounded-md;
  }
  
  .user-modal form {
    @apply flex flex-col gap-5;
  }
  
  .user-modal .line {
    @apply h-[1px] bg-black my-7 opacity-10 rounded-md;
  }
  
  .user-modal > form > button {
    @apply mt-5 w-full;
    background-color: #e17358;
  }
